.j-container {
  min-height: 100vh;
}
.j-dummy-container {
  width: 100%;
  height: 900px;
}
.j-mac-book-pro144button {
  width: 100%;
  height: 982px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.j-rectangle10 {
  top: 99px;
  left: 16px;
  width: 1148px;
  height: 752px;
  position: absolute;
  border-color: transparent;
  border-radius: 86px;
}
.j-rectangle17 {
  top: 716px;
  left: 708px;
  width: 365px;
  height: 67px;
  position: absolute;
  border-color: transparent;
  border-radius: 100px;
}
.j-text {
  top: 415px;
  color: rgba(0, 0, 0, 1);
  right: 142px;
  width: 221px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.j-text02 {
  top: 593px;
  left: 446px;
  color: rgba(0, 0, 0, 1);
  width: 221px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.j-text04 {
  top: 593px;
  color: rgba(0, 0, 0, 1);
  right: 136px;
  width: 221px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.j-text06 {
  top: 503px;
  color: rgba(0, 0, 0, 1);
  right: 142px;
  width: 221px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.j-rectangle14 {
  top: 585px;
  left: 323px;
  width: 334px;
  height: 38px;
  display: flex;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.4699999988079071);
}
.j-rectangle {
  top: 0px;
  left: 0px;
  width: 334px;
  height: 38px;
  position: absolute;
  border-color: transparent;
}
.j-text08 {
  top: 150px;
  left: -650.99072265625px;
  color: rgba(0, 0, 0, 1);
  width: 116px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.j-text09 {
  top: 7px;
  color: rgba(0, 0, 0, 1);
  width: 102px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.j-rectangle15 {
  top: 585px;
  left: 724px;
  width: 334px;
  height: 38px;
  display: flex;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.4699999988079071);
}
.j-rectangle1 {
  top: 0px;
  left: 0px;
  width: 334px;
  height: 38px;
  position: absolute;
  border-color: transparent;
}
.j-text10 {
  top: 150px;
  left: -650.99072265625px;
  color: rgba(0, 0, 0, 1);
  width: 116px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.j-text11 {
  top: 7px;
  color: rgba(0, 0, 0, 1);
  width: 102px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.j-rectangle13 {
  top: 496px;
  left: 724px;
  width: 334px;
  height: 38px;
  display: flex;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.4699999988079071);
}
.j-rectangle2 {
  top: 0px;
  left: 0px;
  width: 334px;
  height: 38px;
  position: absolute;
  border-color: transparent;
}
.j-text12 {
  top: 150px;
  left: -650.99072265625px;
  color: rgba(0, 0, 0, 1);
  width: 116px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.j-text13 {
  top: 7px;
  color: rgba(0, 0, 0, 1);
  width: 102px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.j-rectangle12 {
  top: 496px;
  left: 323px;
  width: 334px;
  height: 38px;
  display: flex;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.4699999988079071);
}
.j-rectangle3 {
  top: 0px;
  left: 0px;
  width: 334px;
  height: 38px;
  position: absolute;
  border-color: transparent;
}
.j-text14 {
  top: 150px;
  left: -650.99072265625px;
  color: rgba(0, 0, 0, 1);
  width: 116px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.j-text15 {
  top: 7px;
  color: rgba(0, 0, 0, 1);
  width: 102px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.j-rectangle6 {
  top: 407px;
  left: 323px;
  width: 334px;
  height: 38px;
  display: flex;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.4699999988079071);
}
.j-rectangle4 {
  top: 0px;
  left: 0px;
  width: 334px;
  height: 38px;
  position: absolute;
  border-color: transparent;
}
.j-rectangle11 {
  top: 407px;
  left: 724px;
  width: 334px;
  height: 38px;
  display: flex;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.4699999988079071);
}
.j-rectangle5 {
  top: 0px;
  left: 0px;
  width: 334px;
  height: 38px;
  position: absolute;
  border-color: transparent;
}
.j-text16 {
  top: 282px;
  left: 517px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.j-text18 {
  top: 415px;
  left: 343px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.j-text20 {
  top: 415px;
  left: 741px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.j-text22 {
  top: 503px;
  left: 338px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.j-text24 {
  top: 503px;
  left: 741px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.j-text26 {
  top: 592px;
  left: 343px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.j-text28 {
  top: 593px;
  left: 755px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.j-text30 {
  top: 408px;
  left: 451px;
  color: rgba(0, 0, 0, 1);
  width: 221px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.j-text32 {
  top: 504px;
  left: 499px;
  color: rgba(0, 0, 0, 1);
  width: 143px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.j-rectangle101 {
  top: 644px;
  right: 108px;
  width: 103px;
  height: 38px;
  display: flex;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.4699999988079071);
}
.j-rectangle6 {
  right: -2px;
  width: 103px;
  bottom: -60px;
  height: 38px;
  position: absolute;
  border-color: transparent;
}
.j-text34 {
  top: 7px;
  color: rgba(0, 0, 0, 1);
  width: 31px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.j-text35 {
  top: 648px;
  color: rgba(0, 0, 0, 1);
  right: 126px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.j-text37 {
  top: 646px;
  left: 661px;
  color: rgba(0, 0, 0, 1);
  width: 52px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.j-rectangle16 {
  top: 719px;
  left: 307px;
  width: 365px;
  height: 67px;
  position: absolute;
  border-color: transparent;
  border-radius: 100px;
}
.j-searchlogo1 {
  top: 719px;
  left: 312px;
  width: 62px;
  height: 64px;
  position: absolute;
  border-color: transparent;
  border-radius: 100px;
}
.j-text39 {
  top: 738px;
  left: 397px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.j-facebook-logo-hero652x3671 {
  top: 719px;
  left: 713px;
  width: 57px;
  height: 59px;
  position: absolute;
  border-color: transparent;
  border-radius: 100px;
}
.j-text41 {
  top: 738px;
  left: 775px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.j-text43 {
  top: 176px;
  left: 86px;
  color: rgba(0, 0, 0, 1);
  width: 62px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.j-text45 {
  top: 173px;
  left: 326px;
  color: rgba(255, 252, 252, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
