.k-container {
  min-height: 100vh;
}
.k-dummy-container {
  width: 100%;
  height: 900px;
}
.k-mac-book-pro145button {
  width: 100%;
  height: 982px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.k-rectangle18 {
  top: 0px;
  left: 0px;
  width: 1512px;
  height: 260px;
  position: absolute;
  border-color: transparent;
}
.k-i-m-a-g-e245fafc711322ba60c0d79ffd452c40e2 {
  top: 20px;
  left: 930px;
  width: 176px;
  height: 168px;
  position: absolute;
  border-color: transparent;
  border-radius: 167px;
}
.k-text {
  top: 192px;
  left: 689px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.k-rectangle19 {
  top: 288px;
  left: 32px;
  width: 166px;
  height: 67px;
  position: absolute;
  border-color: transparent;
  border-radius: 100px;
}
.k-rectangle20 {
  top: 302px;
  left: 225px;
  width: 125px;
  height: 42px;
  position: absolute;
  border-color: transparent;
  border-radius: 100px;
}
.k-rectangle24 {
  top: 303px;
  left: 377px;
  width: 125px;
  height: 42px;
  position: absolute;
  border-color: transparent;
  border-radius: 100px;
}
.k-rectangle25 {
  top: 303px;
  left: 529px;
  width: 125px;
  height: 42px;
  position: absolute;
  border-color: transparent;
  border-radius: 100px;
}
.k-rectangle26 {
  top: 304px;
  left: 681px;
  width: 193px;
  height: 42px;
  position: absolute;
  border-color: transparent;
  border-radius: 100px;
}
.k-text02 {
  top: 302px;
  left: 77px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.k-text04 {
  top: 305px;
  left: 255px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.k-text06 {
  top: 304px;
  left: 387px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.k-text08 {
  top: 305px;
  left: 555px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.k-text10 {
  top: 304px;
  left: 690px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.k-rectangle31 {
  top: 407px;
  left: 77px;
  width: 1092px;
  height: 194px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.k-text12 {
  top: 437px;
  left: 116px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.k-vector1 {
  top: 424px;
  left: 1093px;
  width: 54px;
  height: 164px;
  position: absolute;
}
.k-text14 {
  top: 533px;
  left: 624px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.k-rectangle32 {
  top: 629px;
  left: 77px;
  width: 1097px;
  height: 194px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.k-comment2 {
  top: 771px;
  left: 932px;
  width: 48px;
  height: 50px;
  position: absolute;
  border-color: transparent;
  border-radius: 180px;
}
.k-text16 {
  top: 659px;
  left: 116px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.k-vector2 {
  top: 651px;
  left: 1095px;
  width: 54px;
  height: 164px;
  position: absolute;
}
.k-text18 {
  top: 747px;
  left: 608px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.k-text20 {
  top: 91px;
  left: 255px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.k-featuredimportanceeducation2 {
  top: 38px;
  left: 49px;
  width: 176px;
  height: 172px;
  position: absolute;
  border-color: transparent;
  border-radius: 156.5px;
}
.k-comment1 {
  top: 545px;
  left: 934px;
  width: 48px;
  height: 50px;
  position: absolute;
  border-color: transparent;
  border-radius: 180px;
}
