.p-container {
  min-height: 100vh;
}
.p-mac-book-pro1410 {
  width: 100%;
  height: 982px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.p-rectangle24 {
  top: 0px;
  left: 0px;
  width: 1512px;
  height: 260px;
  position: absolute;
  border-color: transparent;
}
.p-text {
  top: 91px;
  left: 255px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.p-featuredimportanceeducation2 {
  top: 38px;
  left: 49px;
  width: 176px;
  height: 172px;
  position: absolute;
  border-color: transparent;
  border-radius: 156.5px;
}
.p-text02 {
  top: 192px;
  left: 1014px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.p-i-m-a-g-e245fafc711322ba60c0d79ffd452c40e2 {
  top: 12px;
  left: 1268px;
  width: 176px;
  height: 168px;
  position: absolute;
  border-color: transparent;
  border-radius: 167px;
}
.p-rectangle41 {
  top: 0px;
  left: 0px;
  width: 1512px;
  height: 260px;
  position: absolute;
  border-color: transparent;
}
.p-text04 {
  top: 91px;
  left: 255px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.p-featuredimportanceeducation4 {
  top: 38px;
  left: 49px;
  width: 176px;
  height: 172px;
  position: absolute;
  border-color: transparent;
  border-radius: 156.5px;
}
.p-text06 {
  top: 192px;
  left: 1014px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.p-i-m-a-g-e245fafc711322ba60c0d79ffd452c40e4 {
  top: 12px;
  left: 1268px;
  width: 176px;
  height: 168px;
  position: absolute;
  border-color: transparent;
  border-radius: 167px;
}
.p-rectangle34 {
  top: -49px;
  right: -469px;
  width: 1916px;
  height: 309px;
  position: absolute;
  border-color: transparent;
}
.p-text08 {
  top: 91px;
  left: 255px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.p-featuredimportanceeducation3 {
  top: 38px;
  left: 49px;
  width: 176px;
  height: 172px;
  position: absolute;
  border-color: transparent;
  border-radius: 156.5px;
}
.p-text10 {
  top: 320px;
  color: rgba(0, 0, 0, 1);
  right: 60px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.p-i-m-a-g-e245fafc711322ba60c0d79ffd452c40e3 {
  top: -17px;
  right: 4px;
  width: 281px;
  height: 260px;
  position: absolute;
  border-color: transparent;
}
.p-text12 {
  top: 290px;
  left: 21px;
  color: rgba(0, 0, 0, 1);
  width: 62px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.p-rectangle31 {
  top: 481px;
  left: 79px;
  width: 1814px;
  height: 194px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.p-text14 {
  top: 521px;
  left: 116px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.p-vector1 {
  top: 496px;
  right: 55px;
  width: 54px;
  height: 164px;
  position: absolute;
}
.p-text16 {
  top: 602px;
  left: 1110px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.p-rectangle32 {
  top: 713px;
  left: 89px;
  width: 1804px;
  height: 194px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.p-text18 {
  top: 743px;
  left: 113px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.p-vector2 {
  right: 46px;
  width: 54px;
  bottom: 86px;
  height: 164px;
  position: absolute;
}
.p-text20 {
  left: 1124px;
  color: rgba(0, 0, 0, 1);
  bottom: 120px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.p-text22 {
  top: 424px;
  left: 47px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.p-linkedincircled1 {
  top: 306px;
  left: 1013px;
  width: 70px;
  height: 73px;
  position: absolute;
  border-color: transparent;
  border-radius: 300px;
}
.p-b51b78ecc9e5711274931774e433b5e61 {
  top: 310px;
  left: 700px;
  width: 65px;
  height: 67px;
  position: absolute;
  border-color: transparent;
  border-radius: 1000px;
}
.p-i-m-a-g-e62447101 {
  top: 309px;
  left: 860px;
  width: 68px;
  height: 67px;
  position: absolute;
  border-color: transparent;
  border-radius: 126.5px;
}
.p-contacticon1 {
  top: 311px;
  left: 1134px;
  width: 70px;
  height: 67px;
  position: absolute;
  border-color: transparent;
}
.p-comment6 {
  top: 618px;
  right: 168px;
  width: 48px;
  height: 50px;
  position: absolute;
  border-color: transparent;
  border-radius: 180px;
}
.p-comment7 {
  right: 150px;
  width: 48px;
  bottom: 96px;
  height: 50px;
  position: absolute;
  border-color: transparent;
  border-radius: 180px;
}
