.p-container {
  min-height: 100vh;
}
.p-dummy-container {
  width: 100%;
  height: 900px;
}
.p-mac-book-pro1410button {
  width: 100%;
  height: 982px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.p-rectangle24 {
  top: 0px;
  left: 0px;
  width: 1512px;
  height: 260px;
  position: absolute;
  border-color: transparent;
}
.p-text {
  top: 91px;
  left: 255px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.p-featuredimportanceeducation2 {
  top: 38px;
  left: 49px;
  width: 176px;
  height: 172px;
  position: absolute;
  border-color: transparent;
  border-radius: 156.5px;
}
.p-i-m-a-g-e245fafc711322ba60c0d79ffd452c40e2 {
  top: 12px;
  left: 1268px;
  width: 176px;
  height: 168px;
  position: absolute;
  border-color: transparent;
  border-radius: 167px;
}
.p-rectangle41 {
  top: 0px;
  left: 0px;
  width: 1512px;
  height: 260px;
  position: absolute;
  border-color: transparent;
}
.p-text02 {
  top: 91px;
  left: 255px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.p-featuredimportanceeducation4 {
  top: 38px;
  left: 49px;
  width: 176px;
  height: 172px;
  position: absolute;
  border-color: transparent;
  border-radius: 156.5px;
}
.p-rectangle34 {
  top: 0px;
  left: 0px;
  width: 1512px;
  height: 260px;
  position: absolute;
  border-color: transparent;
}
.p-text04 {
  top: 190px;
  color: rgba(0, 0, 0, 1);
  right: 38px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.p-text06 {
  top: 91px;
  left: 255px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.p-featuredimportanceeducation3 {
  top: 38px;
  left: 49px;
  width: 176px;
  height: 172px;
  position: absolute;
  border-color: transparent;
  border-radius: 156.5px;
}
.p-text08 {
  top: 191px;
  color: rgba(0, 0, 0, 1);
  right: 689px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.p-i-m-a-g-e245fafc711322ba60c0d79ffd452c40e3 {
  top: 5px;
  left: 924px;
  width: 195px;
  height: 180px;
  position: absolute;
  border-color: transparent;
}
.p-text10 {
  top: 506px;
  left: 87px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.p-text12 {
  top: 290px;
  left: 21px;
  color: rgba(0, 0, 0, 1);
  width: 62px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.p-rectangle31 {
  top: 462px;
  left: 86px;
  width: 1060px;
  height: 194px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.p-text14 {
  top: 521px;
  left: 116px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.p-vector1 {
  top: 479px;
  left: 1065px;
  width: 54px;
  height: 164px;
  position: absolute;
}
.p-text16 {
  top: 585px;
  left: 694px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.p-rectangle32 {
  left: 87px;
  width: 1058px;
  bottom: 113px;
  height: 194px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.p-text18 {
  top: 743px;
  left: 113px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.p-vector2 {
  top: 694px;
  left: 1070px;
  width: 54px;
  height: 164px;
  position: absolute;
}
.p-text20 {
  top: 794px;
  left: 693px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.p-text22 {
  top: 389px;
  left: 102px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.p-linkedincircled1 {
  top: 273px;
  left: 651px;
  width: 88px;
  height: 88px;
  position: absolute;
  border-color: transparent;
  border-radius: 300px;
}
.p-b51b78ecc9e5711274931774e433b5e61 {
  top: 280px;
  left: 442px;
  width: 65px;
  height: 67px;
  position: absolute;
  border-color: transparent;
  border-radius: 1000px;
}
.p-i-m-a-g-e62447101 {
  top: 281px;
  left: 553px;
  width: 68px;
  height: 67px;
  position: absolute;
  border-color: transparent;
  border-radius: 126.5px;
}
.p-contacticon1 {
  top: 281px;
  left: 765px;
  width: 70px;
  height: 67px;
  position: absolute;
  border-color: transparent;
}
.p-comment6 {
  top: 580px;
  left: 958px;
  width: 48px;
  height: 50px;
  position: absolute;
  border-color: transparent;
  border-radius: 180px;
}
.p-comment7 {
  left: 961px;
  width: 48px;
  bottom: 137px;
  height: 50px;
  position: absolute;
  border-color: transparent;
  border-radius: 180px;
}
